# DATABASE
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=

# MAIL
MAIL_USERNAME=
MAIL_PASSWORD=

# VALKEY
VALKEY_HOST=
VALKEY_PASSWORD=

# RABBITMQ
RABBITMQ_USER=
RABBITMQ_PASSWORD=

# GOOGLE
CLIENT_GOOGLE_SECRET=

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=